@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestionale di livello drip no trap cap</h1>

    <div class="card" style="width: 18rem;">
        <a class="nav-link text-dark" asp-area="" asp-controller="Dipendenti" asp-action="Index">
            <img class="card-img-top" src="~/images/dipendentiShortcut.png" alt="Dipendenti">
            <div class="card-body">
                <p class="card-text">Visualizza l'elenco dei dipendenti</p>
            </div>
        </a>
    </div>

</div>
